.dp-highlighter{
	font: 12px monospace;
	width: 100%;
	overflow: auto;
	margin: 4px 0 4px 0 !important;
	padding: 0; 
	background: #E7E5DC;
    border:1px solid #333;
	border-radius: 5px;
}

.dp-highlighter a,
.dp-highlighter a:hover{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.dp-highlighter ol {
	list-style: decimal; /* for ie */
	margin: 0px 0px 1px 40px !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
	padding: 0;
	border: none;
}
.dp-highlighter li {
	list-style: decimal-leading-zero; /* better look for others, override cascade from OL */
	list-style-position: outside !important;
	background: #F8F8F8;
	color: #5C5C5C;
	padding: 0 3px 0 5px !important;
	margin: 0 !important;
	line-height: 14px;
}
.dp-highlighter span {
	color: black;
	margin: 0;
	padding: 0;
}

.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter li {
	list-style: none !important;
	margin-left: 0 !important;
} 


.dp-highlighter .bar {
	padding: 0 3px;
	background: #333;
	float: right;
	visibility: hidden;
}
.dp-highlighter:hover .bar {
	visibility: visible;
} 
.dp-highlighter .bar a {
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #aaa;
	margin: 0 10px;
	text-decoration: none;
}
.dp-highlighter .bar a:hover {
	color: red;
}


/* Language specific styles */
.dp-highlighter .comment { color: #FF8040; }
.dp-highlighter .comments { color: #3F7F5F; }
.dp-highlighter .string { color: #FF0000; }
.dp-highlighter .keyword { color: #7F0055; font-weight: bold; }
.dp-highlighter .func { color: #6A8AAA; }
.dp-highlighter .preprocessor { color: gray; }
.dp-highlighter .value { color: blue; }
.dp-highlighter .tag,
.dp-highlighter .tag-name { color: #069; font-weight: bold; }


.dp-highlighter .dp-c .datatypes { color: #0080C0; font-weight: bold; }

.dp-highlighter .dp-css .func { color: #F55; }
.dp-highlighter .dp-css .important { color: red; }

.dp-highlighter .dp-xml .cdata { color: #ff1493; }
.dp-highlighter .dp-xml .attribute { color: red; }
.dp-highlighter .dp-xml .attribute-value { color: blue; }

.dp-highlighter .dp-sql .keyword { font-weight:normal; }
.dp-highlighter .dp-sql .datatype { color:#00f; }
.dp-highlighter .dp-sql .func { color:#0080C0; }
.dp-highlighter .dp-sql .op { color: #ff1493; }

.dp-highlighter .dp-php .vars { color:#000080; }

